.red{
color: red;
}
.bg-yellow{
    background-color: yellow;
}
#firstdiv{
/* background-color: red; */
}
.green{
color: green;
}
.bg-orange{
    background-color: orange;
}
#seconddiv{
/* background-color: green; */
}